.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.w-screen {
    width: 100vw;
}

.min-h-screen {
    min-height: 100vh;
}

.bg-gray-100 {
    background-color: #f7fafc;
}

.text-gray-800 {
    color: #2d3748;
}

.p-10 {
    padding: 2.5rem;
}


.text-xxs {
    font-size: 0.5rem; /* 12px */
    line-height: 1rem; /* 16px */
}
.bg-hyundai-500 {
    background-color: rgb(97, 136, 120);
}
.bg-hyundai-600 {
    background-color: rgb(71 101 89);
}
.border-t-1 {
    border-top-width: 1px;
}

.message-box-container .menu-dots {
    display:none;
    cursor: pointer;
}

.message-box-container:hover .menu-dots {
    display:block;
}

.message-box-container:hover .sent-at-wrapper {
    display:none;
}

/* Firefox */
#chatBoxWrap {
    scrollbar-width: thin;
    scrollbar-color: transparent;
}
/* Chrome, Edge, and Safari */
#chatBoxWrap::-webkit-scrollbar {
    width: 6px;
}

#chatBoxWrap::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

#chatBoxWrap::-webkit-scrollbar-thumb {
    background-color: #656565;
    border-radius: 5px;
}

/* modal*/
#chatModalBackdrop {
    display: none;
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.message-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

