<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.minglemingle.chat2mingle.message.mapper.MessageMapper">

    <select id="selectOneMessageByMessageId" parameterType="Message" resultType="Message">
        SELECT message_id,
               nickname,
               channel,
               content,
               message_type,
               sent_at
        FROM MESSAGE
        WHERE message_id = #{messageId}
    </select>

    <select id="selectMessageWithOffset" parameterType="Integer" resultType="Message">
        SELECT message_id,
               nickname,
               channel,
               content,
               message_type,
               sent_at
        FROM MESSAGE
        ORDER BY message_id
        OFFSET #{offset} ROWS FETCH NEXT 5 ROWS ONLY
    </select>

    <select id="selectMessageListAfterMessageId" parameterType="Message" resultType="Message">
        SELECT message_id,
            nickname,
            channel,
            content,
            message_type,
            sent_at
        FROM MESSAGE
        WHERE
        <if test='messageId != 0'>
            message_id &lt; #{messageId} AND
        </if>
            channel=${channel} AND message_type &lt; 10
        ORDER BY sent_at DESC
        FETCH FIRST 10 ROWS ONLY
    </select>


    <insert id="insertOneMessage" parameterType="Message">
        INSERT INTO MESSAGE (nickname, channel, content, message_type, sent_at)
        VALUES (#{nickname}, #{channel}, #{content}, #{messageType}, #{sentAt})

        <selectKey keyProperty="messageId" resultType="Integer" order="AFTER">
            SELECT MESSAGE_SEQ.CURRVAL FROM DUAL
        </selectKey>
    </insert>

    <delete id="deleteOneMessage" parameterType="Message">
        DELETE FROM MESSAGE WHERE message_id = #{messageId}
    </delete>
</mapper>