<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logImpl" value="LOG4J2" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias alias="Message" type="com.minglemingle.chat2mingle.message.vo.MessageDTO" />
		<typeAlias alias="Member" type="com.minglemingle.chat2mingle.member.vo.MemberVO" />
		<typeAlias alias="Product" type="com.minglemingle.chat2mingle.product.vo.ProductVO" />
		<typeAlias alias="Report" type="com.minglemingle.chat2mingle.report.vo.ReportVO" />
		<typeAlias alias="ReportDetail" type="com.minglemingle.chat2mingle.report.vo.ReportDetailVO" />
		<typeAlias alias="ReportStatistic" type="com.minglemingle.chat2mingle.report.vo.ReportStatisticVO" />
		<typeAlias alias="Wishlist" type="com.minglemingle.chat2mingle.wishlist.vo.WishlistVO" />
		<typeAlias alias="Visitor" type="com.minglemingle.chat2mingle.websocket.vo.VisitorVO" />
	</typeAliases>

</configuration>