
/*#report-detail,*/

#notice > h3 {
    display: inline;
}

#notice > form {
    width: 60%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.category-container {
    display: flex;
    /* justify-content: space-evenly; */
}

.category-columns {
    /* flex-basis: 50%; */
    display: flex;
    /*flex-direction: column;*/
}

#notice > h3 {
    display: inline;
}

#notice > form {
    width: 60%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.category-container {
    display: flex;
    /* justify-content: space-evenly; */
}

.category-columns {
    /* flex-basis: 50%; */
    display: flex;
    /*flex-direction: column;*/
}

#report-detail {
    display: flex;
    justify-content: center;
}

.table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 60%;
}

.table-row {
    display: flex;
    flex-direction: row;
}

.table-cell {
    flex: 1;
    border-top: 1px solid #ccc;
    /* border: 1px solid #ccc; */
    padding: 1.2rem 0.5rem;
}

.table-cell:nth-child(2) {
    flex: 3;
}

.button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    padding: 5px;
    width: 100%;
}

.checkbox {
    margin-left: 10px;
}

#table-head {
    border-top: none;
    font-weight: bold;
}

.table-label {
    display: flex;
    justify-content: start;
}

.btn-container {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* padding-bottom: 20px; */
}

.report-btn {
    margin: 0.5rem;
    padding: 0.7em 2rem;
    background-color: #999999;
    border: none;
    color: white;

}
