@charset "utf-8";

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
 font-family: 'NanumBarunGothic', sans-serif;
}

.top-wrap{
    width: 100%;
    min-width: 1120px;
    max-width: 1120px;
    margin: 0 auto 20px auto;
    position: relative;
}

.top-con {
    display : flex;
    height: 116px;
}

.top-wrap.main .top-con .top-con-logo {
    width: 20.535%;
    height: 100%;
    float: left;
}

.top-wrap.main .top-con .top-con-search {
    width: 42.2%;
    margin-left: 3.016%;
    height: 100%;
    float: left;
}

.top-wrap.main .top-con .top-con-quick {
    width: 29.09%;
}

.top-wrap.main .top-con .top-con-quick {
    width: 32.144%;
    height: 100%;
    font-size: 16px;
    color: #231f20;
    float: right;
}

.top-wrap.main .top-con .top-con-quick > ul {
    padding-top: 54px;
    float: right;
}

/*.top-con-quick ul {
  display: flex;
}*/
.top-wrap.main .top-con .top-con-quick > ul > li {
    padding: 0 9px 0 10px;
    position: relative;
    display: block;
    float: left;
}

.top-wrap.main .top-con .top-con-logo h1 a {
    width: 100%;
    height: 100%;
    background: url(https://image.thehyundai.com/hdmall/images/co/logo_new.png) left center no-repeat;
    background-size: 230px;
    display: block;
}

.top-wrap.main .top-con .top-con-logo h1 {
    position: relative;
    z-index: 10;
        width: 100%;
        height: 40px;
        margin-top: 36px;
}

.gf-dropdown-btn {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    background: 0;
    position: absolute;
    left: 275px;
    top: 50%;
    transform: translateY(-50%);
}
.top-wrap.main .top-con .top-con-search .top-con-search-input {
    width: 100%;
    padding-top: 4px;
    height: 40px;
    font-size: 15px;
    color: #333;
    border: 0;
    border-bottom: 2px solid #36433b;
}

.top-nav-area2 > ul > li {
    float: left;
}

.top-nav-area2 > ul > li > a {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 0 13px 0 13px;
    font-size: 16px;
    color: #231f20;
    text-decoration: none;
}

.top-wrap.main .top-nav-area2 {
    padding-bottom: 20px;
    border-bottom: 0;
        width: 100%;
}

li {
    list-style: none;
}

button, input, optgroup, select, textarea {
    font-family: 'NanumBarunGothic', sans-serif;
}

body {
    font-family: 'NanumBarunGothic', sans-serif !important;
}

.top-wrap.main #header-area.top-nav {
    position: relative;
    top: auto;
    left: auto;
    z-index: 102;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-all;
}
.top-wrap.main .top-con .top-con-search .top-con-search-btn {
    width: 32px;
    height: 40px;
    border: none;
    background: url(https://image.thehyundai.com/hdmall/images/co/icon_search.png) left top no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
}
.top-wrap.main .top-con .top-con-search .top-con-search-unit {
    width: 85%;
    margin: 36px auto 0;
    position: relative;
}

ul, ol, p {
    margin: 0;
    padding: 0;
}

.top-wrap .top-con .top-con-quick a {
    font-size: 14px;
    color: #231f20;
}

a {
    text-decoration: none;
}

.top-wrap.main .top-con .top-con-quick .top-con-quick-my:after {
    content: "";
    width: 11px;
    height: 6px;
    background: url(https://image.thehyundai.com/hdmall/images/co/icon_down_new.png) no-repeat;
    display: block;
    position: absolute;
    right: 0;
    top: 7px;
}

.top-wrap.main .top-con .top-con-quick .top-con-quick-my {
    padding-right: 17px;
    position: relative;
}