
.member {

	font-family: 'Happiness-Sans';
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5rem;
}

.member-hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid black;
	margin: 5rem 0 2rem 0;
	padding: 0;
}

.logo {
	padding: 2rem 0 4rem;
}

.member-form {
	display: flex;
	flex-direction: column;
}

.form-label {
	margin-top: 1.3rem;
	margin-bottom: 0.5rem;
	font-size: 16px;
	font-weight: 700;
	color: #171a19;
	line-height: 1.4;
	letter-spacing: -0.25px;
	font-family: 'Happiness-Sans';
}

.member-form > h1 {
	align-self: center;
}


.member-container {
	width: 40%;
}

.buttons-list {
	margin: 2rem 0;
	display: flex;
	justify-content: center;
}

.dot {
	color: #ebeceb;
}

.login-anchor {
	text-decoration: none;
	color: #9e8e86;
}

.login-anchor:visited {
	color: #9e8e86;
}


.member-input {
	text-indent: 1.5rem;
	padding: 1rem 0;
	border: 1px solid #eaebea;
	border-radius: 4px;
}

.member-input:focus {
	outline: none !important;
	border: 2px solid black;
	border-radius: 4px;
}

.member-submit {
	background-color: black;
	color: white;
	margin-top: 3rem;
	padding: 1.3rem 0;
}


.message {
	font-size: 0.8rem;
	margin-top: 0.3rem;
	text-align: center;
}

#login-message {
	color: red;
}